.header {
    display: flex;
    flex-direction: column;
}

.headernavbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerbody {
    display: flex;
    align-items: center;
}