body {
    margin: 0;
    font-family: roboto, arial, sans-serif;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding-right: 15%;
    padding-left: 15%;
}

.headernavbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
}

.headerlogo {
    font-size: 24px;
    font-weight: 600;
    color: #F9FAF8;
}

.headerlinks {
    display: flex;
    gap: 24px;
}

.headerbody {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 32px;
}

.headermaintext {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.headersubtext {
    font-size: 18px;
    color: #cecece;
    padding-top: 8px;
    padding-bottom: 16px;
}

.headerplaceholder {
    font-size: 18px;
    color: #E5E7EB;
    background-color: #5c6269;
    height: 216px;
    width: 384px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    padding: 6px 32px 6px 32px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infoheader {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    padding-top: 48px;
    padding-bottom: 48px;
}

.infobody {
    display: flex;
    gap: 48px;
    padding-bottom: 100px;
}

.infosection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    gap: 8px;
}

.infoimg {
    border: 4px solid #3882F6;
    border-radius: 10px;
    width: 150px;
    height: 150px;
}

.infotext {
    color: #5c6269;
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.quotetext {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
    width: 825px;
}

.quotecredit {
    font-size: 24px;
    font-weight: 800;
    color: #1F2937;
    padding-left: 500px;
}

.popup {
    display: flex;
    justify-content: center;
}

.popupbackground {
    display: flex;
    justify-content: space-between;
    background-color: #3882F6;
}

.popupmaintext {
    font-size: 24px;
    font-weight: 600;
    color: #F9FAF8;
}

.popupsubtext {
    color: #E5E7EB;
}